.payment-wrapper {
  width: 100%;
  /* height: 100vh; */
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
}

.payment-container {
  text-align: center;
  width: 380px;
  position: relative;
}

.back-btn {
  position: absolute;
  top: -40px;
  left: -40px;
  background: none;
  border: none;
  font-size: 20px;
  color: #1b2a41;
  cursor: pointer;
}

.payment-title {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 10px;
}

.payment-subtitle {
  font-size: 15px;
  color: #555;
  line-height: 1.4;
  margin-bottom: 30px;
}

.payment-card {
  width: 400px;
  background: #f4f7ff;
  border-radius: 10px;
  padding: 18px 20px;
  text-align: left;
  margin: 0 auto 30px;
  box-sizing: border-box;
}

.card-left {
  display: flex;
  align-items: center;
  gap: 12px;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.domain-label {
  font-size: 12px;
  color: #666;
}

.domain-name {
  font-size: 14px;
  color: #3366cc;
  font-weight: 600;
}

.divider {
  width: 100%;
  height: 1px;
  background: #d9d9d9;
  margin: 16px 0;
}

.card-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fee-title {
  color: #666;
  font-size: 14px;
}

.fee-amount {
  font-size: 16px;
  font-weight: 600;
  color: #3366ff;
}

.payment-btn {
  width: 100%;
  padding: 12px;
  background: #4a6cf7;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 15px;
  cursor: pointer;
  transition: 0.2s;
}

.payment-btn:hover {
  background: #3d5ae6;
}
