.container {
  height: 100vh;
  width: screen;
  padding: 100px 150px;
  padding-bottom: 60px;
}

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.rightBar {
  width: 50%;
  height: 100%;
  max-height: 90vh;
  /* overflow-y: auto; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-right: 5px;
}

.sideText {
  display: none;
  width: 43%;
  height: fit-content;
}

@media (min-width: 1200px) {
  .sideText {
    display: flex;
    flex-direction: column;
    gap: var(--gap-80);
  }
  .wrapper {
    justify-content: space-between;
  }
  .rightBar {
    width: 40%;
  }
}

.pair {
  display: flex;
  flex-direction: column;
  gap: var(--gap-8);
}

.hugeText {
  color: var(--primary-color);
  font-weight: var(--font-weight-500);
  font-size: 48px;
  line-height: 140%;
  margin-top: 12px;
  margin-bottom: 80px;
}

.terms {
  margin-top: 50px;
  width: 100%;
  font-size: var(--font-size-md);
  text-align: center;
}
