.container {
  /* height: 100vh; */
  width: 100%;
  /* background: #f5f6f7; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  text-align: center;
  max-width: 520px;
}

.title {
  font-weight: 700;
  margin-bottom: 10px;
}

.subtitle {
  font-size: 16px;
  color: #505050;
  margin-bottom: 40px;
}

.actionBtn {
  width: 100%;
  height: 48px;
  border-radius: 10px;
  font-size: 16px;
  background-color: #4b66f6 !important; /* Same blue */
}
