@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('cabinet-grotesk.css');
@import "tailwindcss";


@theme{
  --font-outfit:"Outfit", "sans-serif";
  --font-grotesk: "CabinetGrotesk-Variable", "sans-serif";
  --color-primary:#475569;
  --color-secondary:#5175FF;
  --color-impact:#121C2B;
  --color-glass:#E8E8E880;
  --radius-ten:10px;
  --animate-breathe: pulse 9s ease-in-out infinite;
  --blur-4xl:80px;
  --blur-5xl:150px;
}

:root {
    --primary-font: "Outfit", "sans-serif";
}


.scrollbar-left {
  direction: rtl; /* move scrollbar to left */
}

.scrollbar-left > * {
  direction: ltr; /* keep content normal */
}

.scrollbar-left::-webkit-scrollbar {
  width: 8px;
}

.scrollbar-left::-webkit-scrollbar-track {
  background: #E4E4E4;
  border-radius: 4px;
}


.scrollbar-left::-webkit-scrollbar-thumb {
  background-color: #5175FF;
  border-radius: 4px;
}

.scrollbar-left::-webkit-scrollbar-thumb:hover {
  background-color: #6e8cff;
}

.submit_btn {
    height: 44px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 500;
}